.footer {
  padding: 2rem;
  background: #f2f2f2;
  font-size: 1.4rem;
  color: #909090;

  @include for-size(small-phone) {
    font-size: 1rem;
  }

  &__legal {
    list-style: none;
    display: inline;

    &-item {
      display: inline;
      margin: 1rem;
    }
  }
}
