.scroll {
  display: block;
  margin: 3rem auto 0 auto;
  cursor: pointer;

  & #elipse {
    animation: bounce 800ms infinite;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(55%);
  }
}
