.footer {
  padding: 2rem;
  background: #f2f2f2;
  font-size: 1.4rem;
  color: #909090;
}

.legal {
  display: inline;
}

.list {
  list-style: none;
  display: inline;
}

.list-item {
  display: inline;
  margin: 1rem;
}

@media only screen and (max-width: 320px) {
  .footer {
    font-size: 1rem;
  }
}
