.sectionHeading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #1b1b1b;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.featureHeading {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.featureParagraph {
  font-size: 17px;
  line-height: 29px;
}
