.requestButton {
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  display: block;
  margin-bottom: 2rem;
  padding: 1.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  background: #f71117;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.sideNav {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  height: 40rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.nav {
  margin-bottom: auto;
}

.list {
  list-style: none;

  &Item {
    padding: 2rem 1rem;
    font-size: 1.6rem;
    line-height: 2rem;

    &:hover {
      background: #7595ae;
      color: #fff;
    }
  }
}

.legal {
  font-size: 1.2rem;
  color: #909090;
}

.legalList {
  list-style: none;
  display: inline;
  font-size: 1.2rem;
  color: #909090;
}

.legalItem {
  display: inline;
  margin: 0.5rem;
}
