.requestButton {
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  display: block;
  margin-bottom: 2rem;
  padding: 1.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  background: #f71117;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.sideNav {
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 42rem;

  @media only screen and (max-width: 756px) {
    height: 100%;
  }
}

.nav {
  margin-bottom: auto;

  @media only screen and (max-width: 756px) {
    margin: 0;
  }
}

.list {
  list-style: none;
  width: 100%;

  &Item {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #000;

    &:hover {
      background: #7595ae;
      color: #fff;

      & .listIcon {
        fill: #fff;
      }
    }
  }

  &Icon {
    height: 20px;
    width: 20px;
    fill: #333c45;
  }

  &Link {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  &Text {
    margin-left: 2rem;
  }
}

.footer {
  padding: 1rem;
  font-size: 1.2rem;
  color: #909090;

  @media only screen and (max-width: 756px) {
    display: none;
  }
}

.legalList {
  list-style: none;
  display: inline;
}

.legalItem {
  display: inline;
  margin: 0.5rem;
}
