*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.margin-bottom {
  margin-bottom: 100px;
}

.grey {
  background: #f2f2f2;
}

@media only screen and (max-width: 765px) {
  .margin-bottom {
    margin-bottom: 50px;
  }
}
